verilog/db/*
verilog/incremental_db/*
*.asm.*
*.map.*
*.flow.*
*.fit.*
*.sta.*
*.bak
*.qws

*.swp

#Ignore everthing from components except the vhd files
components/*
!components/lib/
!components/lib/*.vhd
